<alerts-comp></alerts-comp>

<div class="container">
  <h2>Saved Recipes for {{profileComp.user.email}}</h2>
  <hr />

  <div class="container search-container">
    <div class="no-results" ng-show="profileComp.recipes.length == 0">
      It looks like you haven't saved any recipes.
      <a ui-sref="searchState({query:'salads'})">Search</a>
      recipes by ingredient or dietary needs then click
      <a href="#" class="btn btn-info button-recipe btn-sm">Save</a>
      to keep your favorite recipes here.
    </div >
    <div class="search-results">
      <div class="panel panel-default panel-recipe" ng-repeat="recipe in profileComp.recipes track by $index" id="{{recipe.label}}">
        <div class="panel-heading">
          <div class="panel-title">{{recipe.label}}</div>
        </div>
        <div class="panel-body">
          <div class="img-container">
            <a ui-sref="recipesState({id: recipe.uri.split('#')[1]})"><img ng-src="{{recipe.image}}" /></a>
          </div>
          <div class="panel-body-text">
            <p>Recipe at <a href="{{recipe.url}}">{{recipe.source}}</a></p>
            <p>{{(recipe.calories/recipe.yield).toFixed(0)}} calories per serving</p>
            <div class="panel-links">
              <a ui-sref="recipesState({id: recipe.uri.split('#')[1]})" class="btn btn-sm btn-info">Details</a>
              <a href="#" ng-click="profileComp.DataServices.deleteRecipe(recipe.uri, recipe.label)" class="btn btn-sm btn-info btn-delete">Remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
