navbar-comp .navbar-inverse{
  /*background-color: #444;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);*/
}

.nav-search-submit{
  display: none;
}

.alerts-div{
  margin-top: -20px;
  min-height: 20px;
  background-color: white;
  width: 100vw;
}

.alert-alert{
  margin-bottom: 0;
}

footer-comp{
  position: relative;;
  bottom: 0;
  width: 100%;
}

.footer{
  width: 100%;
  margin-top: 40px;
  /*color: white;*/
}

.footer-body{
  /*background-color: #555;*/
  min-height: 100px;
}

.footer-footer{
  /*background-color: #444;*/
  min-height: 50px;
}

.resources{
  padding-bottom: 10px;
}

.contributors{
  padding-bottom: 10px;
}

.mongo-logo{
  width: 110px;
  padding-right: 5px;
}

.express-logo{
  width: 110px;
  padding-right: 5px;
}

.angular-logo{
  width: 110px;
  padding-right: 5px;
}

.node-logo{
  width: 110px;
  padding-right: 5px;
}
