navbar-comp .navbar{
  background-color: white;
  color: grey;
  box-shadow: 0px 1px 5px lightgrey;
  padding-bottom: 5px;
}

.navbar .container{

}

.nav-search-submit{
  display: none;
}

.navbar-header{
  height: 60px;
  margin-top: 5px;
}

.navbar-nav>li>a{
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar-form{
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-header img{
  height: 50px;
  float: left;
  margin-right: 5px;
}

.navbar-toggle{
  height: 60px;
  margin: 0;
}

.navbar-toggle .icon-bar{
  border: 1px solid grey;
}

.logo-link{
  height: 100%;
}

.logo-link a{
  line-height: 50px;
  margin-top: -10px;
}

.alerts-div{
  margin-top: -20px;
  min-height: 20px;
  background-color: white;
  width: 100vw;
}

.alert-alert{
  margin-bottom: 0;
}

footer-comp{
  position: relative;;
  bottom: 0;
  width: 100%;
}

.footer{
  width: 100%;
  margin-top: 40px;
  /*color: white;*/
}

.footer-body{
  /*background-color: #555;*/
  min-height: 100px;
}

.footer-footer{
  /*background-color: #444;*/
  min-height: 50px;
}

.resources{
  padding-bottom: 10px;
}

.contributors{
  padding-bottom: 10px;
}

.mongo-logo, .express-logo, .angular-logo, .node-logo{
  width: 80px;
  padding-right: 10px;
}

@media (max-width: 768px){
  .navbar-form{
    height: 80px;
    border-top: 1px solid lightgrey;
  }

  .navbar-nav>li>a{
    border-top: 1px solid lightgrey;
  }

  .navbar-nav>li.active>a{
    color: #14A79D;
  }
}
