.details-image{
  width: 100%;
  box-shadow: 5px 5px 3px lightgrey;
}

.details-container{
  max-width: 800px;
}

.details-container a{
  margin-right: 2px;
  margin-bottom: 2px;
}

.details-container .row{
  padding: 10px 0px;
}


#save-recipe{
  background-color: #009999;
  border-color: #009999;
}

#save-recipe:hover{
  background-color: #00CCCC;
  border-color: #00CCCC;
}
