<div class="footer">
  <hr />

  <div class="footer-body">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-md-4 resources">
          <h4>Resources</h4>
          <p><a class="lightgrey" href="#">Link1</a></p>
          <p><a class="lightgrey" href="#">Link2</a></p>
          <p><a class="lightgrey" href="#">Link2</a></p>
        </div>

        <div class="col-sm-6 col-md-4 contributors">
          <h4>Contact</h4>
          <p class="lightgrey-no-hover">
            Ana
          </p>
          <p class="lightgrey-no-hover">
            Norah
          </p>
          <p class="lightgrey-no-hover">
            Rachel
          </p>
          <p class="lightgrey-no-hover">
            Tommy
          </p>
        </div>

        <div class="col-sm-12 col-md-4 resources">
          <h4>Technologies</h4>
            <p>
              <span><img class="mongo-logo" src="./img/logos/mongodb.png" /></span>
              <span><img class="express-logo" src="./img/logos/express.png" /></span>
            </p>
            <p>
              <span><img class="angular-logo" src="./img/logos/angularjs.png" /></span>
              <span><img class="node-logo" src="./img/logos/nodejs.png" /></span>
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h5><a class="lightgrey" href="https://github.com/Tommy-Lim/picky-eater-hackathon">GitHub Repo</a></h5>
        </div>
      </div>
    </div>
  </div>

</div>
