<alerts-comp></alerts-comp>

<div class="container">
  <h1>{{recipesComp.result.label}}</h1>
  <div class="row">
    <div class="col-xs-4">
      <img ng-src="{{recipesComp.result.image}}" class="details-image" />
    </div>
    <div class="col-xs-8 col-md-4">
      <p>({{recipesComp.result.yield}}) Servings</p>
      <p>Ingredients</p>
      <ul>
        <li ng-repeat="ingredient in recipesComp.result.ingredientLines">{{ingredient}}</li>
      </ul>
      <p>Health Labels</p>
      <ul>
        <li ng-repeat="label in recipesComp.result.healthLabels">{{label}}</li>
      </ul>
      <p>Diet Labels</p>
      <ul>
        <li ng-repeat="label in recipesComp.result.dietLabels">{{label}}</li>
      </ul>
      <p>Recipe from <a href="{{recipesComp.result.url}}">{{recipesComp.result.source}}</a> </p>
    </div>
    <div class="col-md-4  nutrient-details">
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Amount Per Serving</th>
            <th>Daily</th>
            <th>Daily, %</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in recipesComp.result.digest">
            <td>{{item.label}}</td>
            <td>{{(item.total/recipesComp.result.yield).toFixed(0)}}, {{item.unit}}</td>
            <td>{{(item.daily/recipesComp.result.yield).toFixed(0)}}, {{item.unit}}</td>
            <td>{{(item.total/item.daily*100).toFixed(0)}} %</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
