<alerts-comp></alerts-comp>

<div class="container details-container">
  <h1 class="written">{{recipesComp.result.label}}</h1>

  <div><a ng-repeat="label in recipesComp.result.healthLabels" class="btn btn-xs btn-warning" ui-sref="searchState({query: label})">{{label}}</a></div>
  <div><a ng-repeat="label in recipesComp.result.dietLabels" class="btn btn-xs btn-primary" ui-sref="searchState({query: label})">{{label}}</a></div>

  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <img ng-src="{{recipesComp.result.image}}" class="details-image" />
    </div>

    <div class="col-xs-12 col-sm-8">
      <p>{{(recipesComp.result.calories/recipesComp.result.yield).toFixed(0)}} cal per serving</p>
      <p>{{recipesComp.result.yield}} servings</p>
      <p>Ingredients</p>
      <ul>
        <li ng-repeat="ingredient in recipesComp.result.ingredientLines">{{ingredient}}</li>
      </ul>

      <p>Recipe on <a href="{{recipesComp.result.url}}">{{recipesComp.result.source}}</a> </p>

      <a id="save-recipe" href="#" ng-click="recipesComp.save(recipesComp.result.uri.split('#')[1])" class="btn btn-success">Save</a>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 nutrient-details">
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Amount Per Serving</th>
            <th>Daily</th>
            <th>Daily, %</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in recipesComp.result.digest">
            <td>{{item.label}}</td>
            <td>{{(item.total/recipesComp.result.yield).toFixed(0)}}, {{item.unit}}</td>
            <td>{{(item.daily/recipesComp.result.yield).toFixed(0)}}, {{item.unit}}</td>
            <td>{{(item.total/item.daily*100).toFixed(0)}} %</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
